.footer-card {
    background-color: #FFB031;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 350px
}
.logoAlt {
    width: 304px;
    height: 155px;
}
.footer-title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 50px;
    margin-left: 10px;
}
.footer-logo{
    width: 430px;
    margin-right: 120px;
}
.footer-content-links {
    margin-top: 44px;
    margin-right: 120px;
  
}
.footer-cotact-links {
    margin-top: 44px;
    margin-right: 120px;
}

.footer-news-links{
    margin-top: 44px;
}
.link {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s;
    /* Efek transisi hanya untuk perubahan warna */
}

.link:hover {
    color: #3366cc;
    /* Warna yang berbeda ketika dihover */
    text-decoration: none;
    /* Tidak ada underline ketika dihover */
}