.footer-card {
    background-color: #FFB031;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 450px
}
.logoAlt {
    width: 304px;
    height: 155px;
}
.footer-title {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 50px;
    margin-left: 10px;
}
.footer-logo{
    width: 430px;
    margin-right: 80px;
}
.footer-content-links {
    margin-top: 44px;
    margin-right: 80px;
  
}
.footer-cotact-links {
    margin-top: 44px;
    margin-right: 80px;
}

.footer-news-links{
    margin-top: 44px;
    width: 290px;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 6px;
    border: none;
    border-radius: 9px;
    transition: color 0.3s, background-color 0.3s, border 0.3s, padding 0.3s;
}

.link:hover {
    color: #000000;
    background-color: #E2EAEF;
    border: 1px solid #E2EAEF;
    padding: 8px 19px;
}
.logo-contact {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}
.logo-contact2 {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.logo-contact3 {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.font-contact {
    font-weight: bold;
    width: 270px;
    margin-top: 7px;
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 50px;
    margin-top: 5px;

}
form .logo-contact2 {
    font-size: 18px;
    margin-right: 10px;

}
form input {
    width: 100%;
    background: transparent;
    color: #000000;
    border: 0;
    outline: none;
    
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form svg {
    font-size: 12px;
    margin-right: 0px;
    width: 25px;
    height: 25px;
}
.card-img {
    width: 150px;
    height: 150px;
    margin: -19px;
    margin-left: 2px;
}

.card-long {
    width: 100%;
}
.copyright {
    margin-left: 65px;
    font-weight: 600;
    margin-top: 7px;
}
.card-go {
    width:  75px;
    height: 75px;
    margin-left: 23%;
}
.card-text-1,
.card-text-2 {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.card-text-1 {
    margin-left: 180px;
}

.card-text-2 {
    margin-left: 15px;
}

.icon-plane {
    width: 40px;
    height: 40px;
    margin-left: 5%;
}
.icon-tiktok {
    width: 40px;
    height: 45px;
    margin-left: 1%;
}
.icon-ig {
    width: 40px;
    height: 40px;
    margin-left: 1%;
}
.icon-dc {
    width: 40px;
    height: 40px;
    margin-left: 1.5%;
}